.lower {
	margin-top: -31px;
	
	.todo:not(:last-child) {
		border-bottom: 1px solid $dark_grayish_blue;
	}
	.todo:first-child {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	
	.todo:last-child {
		color: $dark_grayish_blue;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		font-size: 16px;
		min-height: 59px;

		p:hover {
			color: $light_grayish_blue;
			cursor: pointer;
		}
	}

	.todo__extra {
		font-weight: $dark;
		p {
			padding: 0 10px;
		}

		@include breakpoint-down("small") {
			display: none;
		}
	}

	.checked {
		text-decoration: line-through;
		color: $dark_grayish_blue;
	}

}

.light-mode {
	.lower {
		.todo:not(:last-child) {
			border-bottom: 1px solid $very_light_grayish_blue;
		}

		.todo:last-child {
			color: $dark_grayish_blue_light;

			p:hover {
				color: $very_dark_grayish_blue_light;
				cursor: pointer;
			}
		}

		.checked {
			color: $light_grayish_blue_light;
		}
	}
}