.lowest {
    margin-top: 14px;
    font-size: 16px;
    font-weight: $dark;

    .todo {
        color: $dark_grayish_blue;
        border-radius: 6px;
    }

    p {
        padding: 0 10px;
    }

    p:hover {
        color: $light_grayish_blue;
        cursor: pointer;
    }

    @include breakpoint-up("large") {
        display: none;
    }

}

.light-mode {
    .lowest {
        .todo {
            color: $dark_grayish_blue_light;
        }
    
        p:hover {
            color: $very_dark_grayish_blue_light;
        }
    }    
}