.upper {
	background-image: url('../images/bg-dark.jpg');
	height: 240px;
	background-position-y: center;
	background-size: cover;
	background-repeat: no-repeat;

	@include breakpoint-up(large) {
		height: 322px;

	}

	&__title {
		padding-top: 52px;
		padding-bottom: 42px;
		
		@include breakpoint-up(large) {
			padding-top: 75px;
			padding-bottom: 55px;
		}
	}
	
	&__text {
		letter-spacing: 12px;
		font-size: 24px;
		color: white;
		
		@include breakpoint-up(large) {
			letter-spacing: 25px;
			font-size: 38px;
		}
	}

	&__icon {
		width: 28px;
		height: 28px;
		cursor: pointer;
		
		@include breakpoint-up('large') {
			width: 42px;
			height: 42px;
		}

		path {
			transform: scale(0.9);
			transition: all 200ms;

		}
		
	}
	
	&__icon:hover path {
		transform: scale(1.05);
	}

	&__input, textarea {
		border-radius: 6px;
	}

	.todo {
		border-radius: 6px;
	}

	.todo__content {
		margin-top: 11px;
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 400;
		vertical-align: middle;
	}

}

.light-mode {
	.upper {
		background-image: url('../images/bg-light.jpg');
	}

}