// Primary Colours
$bright_blue: hsl(220, 98%, 61%);

// Gradient
$gradient1: hsl(280, 87%, 65%);
$gradient2: hsl(192, 100%, 67%);

// Light Theme
$very_light_gray: hsl(0, 0%, 98%);
$ver_light_grayish_blue: hsl(236, 33%, 92%);
$light_grayish_blue: hsl(233, 11%, 84%);
$dark_grayish_blue: hsl(236, 9%, 61%);
$very_dark_grayish_blue: hsl(235, 19%, 35%);

// Dark Theme
$very_dark_blue: hsl(235, 21%, 11%);
$very_dark_desaturated_blue: hsl(235, 24%, 19%);
$light_grayish_blue: hsl(234, 39%, 85%);
$light_grayish_blue_hover: hsl(236, 33%, 92%);
$dark_grayish_blue: hsl(233, 14%, 35%);
$very_dark_grayish_blue: hsl(237, 14%, 26%);

// Font weight
$med: 400;
$dark: 700;
